.body{
    background-image: url('file:///assets/LK_background.jpeg');
    background-repeat:no-repeat;
}

button:focus {outline:0;}

#close_button{
    background-color:transparent;
	color:#ffffff;
	font-size:12px;
    text-decoration:none;
    display: block;
    float: right;
    margin-right: -8px;
    margin-top: -8px;
}

#play {
	background-color:#880404;
	border-radius:7px;
	border:1px solid #850404;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Garamond ;
	font-size:20px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #1f1f26;
    float:left;
    position:absolute;
    bottom:15px;
    left: 300px;
}
#play:hover {
	background-color:#973839;
}
#play:active {
	position:absolute;
	bottom:14px;
}

#diretorio_div{
    position:absolute;
    bottom:10px;
    left:15px;
    background-color: rgba(0, 2, 60, 0.857);
    padding: 10px 10px 10px 10px;
}

#diretorio_label{
    font-family:Garamond ;
    font: size 14;
    font-weight: bold;
    color: white;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}