
/* Main settings container. */
#settingsContainer {
  position: relative;
  height: 100%;
  display: flex;
  background-color: rgb(41, 42, 43);
  transition: background-color 0.25s cubic-bezier(.02, .01, .47, 1);
  color: white;
}

/* Drop shadow displayed when content is scrolled out of view. */
#settingsContainer:before {
  content: '';
  background: linear-gradient(rgba(0, 0, 0, 0.25), transparent);
  width: 100%;
  height: 5px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.25s ease;
}
#settingsContainer[scrolled]:before {
  opacity: 1;
}

/* Left hand side of the settings UI, for navigation. */
#settingsContainerLeft {
  padding-top: 4%;
  height: 100%;
  width: 25%;
  box-sizing: border-box;
}

/* Settings navigation container. */
#settingsNavContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Navigation header styles. */
#settingsNavHeader {
  height: 15%;
  display: flex;
  justify-content: center;
}
#settingsNavHeaderText {
  font-size: 20px;
}

/* Navigation items outer container. */
#settingsNavItemsContainer {
  height: 85%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

/* Navigation items content container. */
#settingsNavItemsContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Navigation item shared styles. */
.settingsNavItem {
  background: none;
  border: none;
  text-align: left;
  margin: 5px 0px;
  padding: 0px 20px;
  color: grey;
  cursor: pointer;
  outline: none;
  transition: 0.25s ease;
}
.settingsNavItem:hover,
.settingsNavItem:focus {
  color: #c1c1c1;
  text-shadow: 0px 0px 20px #c1c1c1;
}
.settingsNavItem[selected] {
  cursor: default;
  color: white;
  text-shadow: none;
}

/* Div to add some space between nav items. */
.settingsNavSpacer {
  height: 25px;
}

/* Right hand side of the settings container, for tabs. */
#settingsContainerRight {
  height: 100%;
  width: 75%;
  box-sizing: border-box;
}

/* Settings tab shared styles. */
.settingsTab {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.settingsTab::-webkit-scrollbar {
  width: 2px;
}
.settingsTab::-webkit-scrollbar-track {
  display: none;
}
.settingsTab::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.50);
}

/* Add spacing to the top of each settings tab. */
.settingsTab > *:first-child {
  margin-top: 5%;
}

/* Add spacing to the bottom of each settings tab. */
.settingsTab > *:last-child {
  margin-bottom: 20%;
}

/* Tab header shared styles. */
.settingsTabHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.settingsTabHeaderText {
  font-size: 20px;
  font-family: 'Avenir Medium';
}
.settingsTabHeaderDesc {
  font-size: 12px;
}

/* Remove spin button from number inputs. */
#settingsContainer input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Default styles for text/number inputs. */
#settingsContainer input[type=number],
#settingsContainer input[type=text] {
  color: white;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: 1px solid rgba(126, 126, 126, 0.57);
  font-family: 'Avenir Book';
  transition: 0.25s ease;
}
#settingsContainer input[type=number]:focus,
#settingsContainer input[type=text]:focus {
  outline: none;
  border-color: rgba(126, 126, 126, 0.87);
}
#settingsContainer input[type=number][error] {
  border-color: rgb(255, 27, 12);
  background: rgba(236, 0, 0, 0.25);
  color: rgb(255, 27, 12);
}

/* File selectors */

/* Main container for File selectors. */
.settingsFileSelContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.50);
  margin-bottom: 20px;
  margin-top: 20px;
  width: 75%;
}

/* File selector title. */
.settingsFileSelTitle {
  margin-bottom: 10px;
}

/* Wrapper container for the actionable elements. */
.settingsFileSelActions {
  display: flex;
  width: 90%;
}

/* File selector icon settings. */
.settingsFileSelIcon {
  display: flex;
  align-items: center;
  background: rgba(126, 126, 126, 0.57);
  border-radius: 3px 0px 0px 3px;
  padding: 5px;
  transition: 0.25s ease;
}
.settingsFileSelSVG {
  width: 20px;
  height: 20px;
  fill: white;
}

/* Disabled text field which stores the selected file path. */
.settingsFileSelVal {
  border-radius: 0px !important;
  width: 100%;
  padding: 5px 10px;
  font-size: 12px;
  height: 30px;
}

/* File selection button. */
.settingsFileSelButton {
  border: 0px;
  border-radius: 0px 3px 3px 0px;
  font-size: 12px;
  padding: 0px 5px;
  cursor: pointer;
  background: rgba(126, 126, 126, 0.57);
  transition: 0.25s ease;
  white-space: nowrap;
  outline: none;
}
.settingsFileSelButton:hover,
.settingsFileSelButton:focus {
  text-shadow: 0px 0px 20px white;
}
.settingsFileSelButton:active {
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
}

/* Description for the file selector. */
.settingsFileSelDesc {
  font-size: 10px;
  margin: 20px 0px;
  color: lightgrey;
  width: 89%;
}
.settingsFileSelDesc strong {
  font-family: 'Avenir Medium';
}

#settingsAboutTitle {
  font-size: 23px;
}

/* Current version text. */
#settingsAboutCurrentVersionLine {
  font-size: 10px;
  color: grey;
  font-weight: bold;
}

/* Frame Bar */
#frameBar {
  position: relative;
  top: 0px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
}

/* Undraggable region on the top of the frame. */
#frameResizableTop {
  height: 2px;
  width: 100%;
  -webkit-app-region: no-drag;
}

/* Flexbox to wrap the main frame content. */
#frameMain {
  display: flex;
  height: 20px
}

/* Undraggable region on the left and right of the frame. */
.frameResizableVert {
  width: 2px;
  -webkit-app-region: no-drag;
}

/* Main frame content for windows. */
#frameContentWin {
  display: flex;
  justify-content: space-between;
  width: 100%;
  -webkit-app-region: drag;
}

/* Frame logo (windows only). */
#frameTitleDock {
  padding: 0px 10px;
}
#frameTitleText {
  font-size: 14px;
  font-family: 'Avenir Medium';
  letter-spacing: 0.5px;
}

/* Windows frame button dock. */
#frameButtonDockWin {
  -webkit-app-region: no-drag !important;
  position: relative;
  top: -2px;
  right: -2px;
  height: 22px;
}
#frameButtonDockWin > .frameButton:not(:first-child) {
  margin-left: -4px;
}

/* Windows Frame Button Styles. */
.frameButton {
  background: none;
  border: none;
  height: 22px;
  width: 39px;
  cursor: pointer;
}
.frameButton:hover,
.frameButton:focus {
  background: rgba(189, 189, 189, 0.43);
}
.frameButton:active {
  background: rgba(156, 156, 156, 0.43);
}
.frameButton:focus {
  outline: 0px;
}

/* Close button is red. */
#frameButton_close:hover,
#frameButton_close:focus {
  background: rgba(255, 53, 53, 0.61) !important;
}
#frameButton_close:active {
  background: rgba(235, 0, 0, 0.61) !important;
}

#project{
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  font-size: 10px;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}