@font-face {
  font-family: 'Avenir Book';
  src: url('assets/fonts/Avenir-Book.ttf');
}

@font-face {
  font-family: 'Avenir Medium';
  src: url('assets/fonts/Avenir-Medium.ttf');
}

@font-face {
  font-family: 'Ringbearer';
  src: url('assets/fonts/ringbearer.ttf');
}

html{
  background: url(assets/images/LK_background.jpeg);
  background-size:cover;
  min-height:100%;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

#logoEtmaxx{
  width: 266px;
  height: 130px;
}

/* Frame Bar */
#frameBar {
  position: relative;
  top: 0px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
}

/* Undraggable region on the top of the frame. */
#frameResizableTop {
  height: 2px;
  width: 100%;
  -webkit-app-region: no-drag;
}

/* Flexbox to wrap the main frame content. */
#frameMain {
  display: flex;
  height: 20px
}

/* Undraggable region on the left and right of the frame. */
.frameResizableVert {
  width: 2px;
  -webkit-app-region: no-drag;
}

/* Main frame content for windows. */
#frameContentWin {
  display: flex;
  justify-content: space-between;
  width: 100%;
  -webkit-app-region: drag;
}

/* Frame logo (windows only). */
#frameTitleDock {
  padding: 0px 10px;
}
#frameTitleText {
  font-size: 14px;
  font-family: 'Avenir Medium';
  letter-spacing: 0.5px;
  color: white;
}

/* Windows frame button dock. */
#frameButtonDockWin {
  -webkit-app-region: no-drag !important;
  position: relative;
  top: -2px;
  right: -2px;
  height: 22px;
}
#frameButtonDockWin > .frameButton:not(:first-child) {
  margin-left: -4px;
}

/* Windows Frame Button Styles. */
.frameButton {
  background: none;
  border: none;
  height: 22px;
  width: 39px;
  cursor: pointer;
}
.frameButton:hover,
.frameButton:focus {
  background: rgba(189, 189, 189, 0.43);
}
.frameButton:active {
  background: rgba(156, 156, 156, 0.43);
}
.frameButton:focus {
  outline: 0px;
}

/* Close button is red. */
#frameButton_close:hover,
#frameButton_close:focus {
  background: rgba(255, 53, 53, 0.61) !important;
}
#frameButton_close:active {
  background: rgba(235, 0, 0, 0.61) !important;
}

/* Elements */
#body_main{
    background-repeat:no-repeat;
    font-family: 'Avenir Book';
    color: white;
}

button:focus {outline:0;}

.head{
  width: 100%;
  float: left;
  top: 0px;
}

.play {
	background-color:#1391b8;
	border-radius:3px;
	border:1px solid #1184a7;
	cursor:pointer;
	color:#ffffff;
	font-family:'Avenir Medium';
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
  text-shadow:0px 1px 0px #1f1f26;
  position: absolute;
  bottom: 60px;
  left: 40px;
  width: 170px;
  height: 50px;
  text-align: center;
}

.play_disable {
	background-color:#797979;
	border-radius:3px;
	border:1px solid #3f3f3f;
	color:#ffffff;
	font-family:'Avenir Medium';
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
  text-shadow:0px 1px 0px #1f1f26;
  position: absolute;
  bottom: 60px;
  left: 40px;
  width: 170px;
  height: 50px;
  text-align: center;
}

.play:hover {
	background-color:#3c97b3;
}
.play:active {
	position:absolute;
}

.play_disable:hover {
	background-color:#797979;
}
.play_disable:active {
	position:absolute;
}

#config {
	background-color:#1391b8;
	border-radius:3px;
	border:1px solid #1184a7;
	cursor:pointer;
	color:#ffffff;
	font-family:'Avenir Medium';
	font-size:20px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
  text-shadow:0px 1px 0px #1f1f26;
  position: absolute;
  bottom: 60px;
  left: 209px;
}

#config:hover {
	background-color:#3c97b3;
}
#config:active {
	position:absolute;
}

#buttonPatch {
	background-color:#e21717;
	border-radius:3px;
	border:1px solid #7b0000;
	cursor:pointer;
	color:#ffffff;
	font-family:'Avenir Medium';
	font-size:12px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
  text-shadow:0px 1px 0px #1f1f26;
  position: absolute;
  bottom: 15px;
  left: 40px;
}

.news{
  width: 60%;
  position: absolute;
  top: 8%;
  left: 35%;
}

#main_news{
  left: 10%;
  right: 10%;
}

.div_news_main{
  background-color: rgba(0, 0, 0, 0.644);
  padding: 0;
  border: none;
  border-radius: 2%;
  width: 100%;
  cursor: pointer;
}

.div_news_bottom{
  background-color: rgba(0, 0, 0, 0.644);
  padding: 0;
  border: none;
  width: 33.3333333%;
  border-radius: 2%;
  cursor: pointer;
}

.image_news_main{
  width: auto;
  height: 300px;
  max-width: 720px;
  position: relative;
}

.image_news_bottom{
  width: auto;
  max-width: 240px;
  position: relative;
  height: 150px;
}

.div_caption_news_main{
  position: absolute;
  top: 250px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.623);
  width: 100%;
  height: 50px;
}

.caption_news_main{
  position: relative;
  color:#ffffff;
	font-family:'ringbearer';
  font-size:20px;
  width: 100%;
  text-align: left;
  overflow: hidden;
}

.div_caption_news_bottom{
  position: relative;
  background-color: rgba(61, 58, 58, 0.623);
  width: 100%;
  height: 70px;
}

.caption_news_bottom{
  position: relative;
  color:#ffffff;
	font-family:'ringbearer';
  font-size:12px;
  padding: 8px;
  width: 100%;
  text-align: left;
  overflow: hidden;
}


.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Stationary image for the spinner. */
#loadCenterImage {
  position: absolute;
  width: 200px;
  height: auto;
}

/* Rotating image for the spinner. */
#loadSpinnerImage {
  width: 280px;
  height: auto;
  z-index: 400;
}

/* Spinner container. */
#newsLoading {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40%;
  bottom: 40%;
  left: 40%;
}

/* Rotating animation for the spinner. */
@keyframes rotating {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/* Class which is applied when the spinner image is spinning. */
.rotating {
  animation: rotating 10s linear infinite;
}

.discord{
  position: absolute;
  float: right;
  top: 260px;
  right: 8px;
  animation-name: discord-c;
	animation-duration: 2s;
  animation-play-state: pause;
  height:70px;
	width:315px;
}

@keyframes discord {
	0% {height:70px; width:315px;}
	 100% {height:340px;width:315px;}
}
@keyframes discord-c {
	0% {height:340px;width:315px;}
    100% {height:70px; width:315px;}
}

.discord:hover {
	height:340px;
	width:315px;
	float:right;
	animation-name: discord;
	animation-duration: 2s;
	animation-play-state: pause;
}

/* Social media icon content container. */
#redesSociais {
  position: absolute;
  flex-direction: column;
  margin-top: 25px;
  height: 40%;
  width: 10%;
  align-items: flex-start;
}

/* Container object which wraps an icon to ensure fluid transitions. */
.mediaContainer {
  justify-content: center;
  align-items: center;
  height: 45px;
}
#settingsMediaContainer {
  position: relative;
}

.buttonRedes{
  text-decoration: none;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
}
/* Social Media Icon division containers. */
#media {
  display: flex;
  flex-direction: column;
}

/* Social media icon shared styles. */
.mediaSVG {
  fill: #ffffff;
  transition: 0.25s ease;
  cursor: pointer;
  height: 18px;
  width: 40px;
}
.mediaSVG:hover,
.mediaURL:focus .mediaSVG,
.mediaSVG:active {
  height: 25px;
}

/* Site icon colors. */
#linkSVG:hover,
#twitterURL:focus #linkSVG {
  fill: gold;
}
#linkSVG:active {
  fill: gold;
}

#tutorialSVG{
  enable-background:new 0 0 30.318 30.318;
}

/* Site icon colors. */
#tutorialSVG:hover,
#twitterURL:focus #tutorialSVG {
  fill: rgb(90, 165, 92);
}
#tutorialSVG:active {
  fill: rgb(90, 165, 92);
}

/* Twitter icon colors. */
#twitterSVG:hover,
#twitterURL:focus #twitterSVG {
  fill: #1da1f2;
}
#twitterSVG:active {
  fill: #1b8dd4;
}

/* Instagram icon colors. */
#instagramSVG:hover,
#instagramURL:focus #instagramSVG {
  fill: url('#instaFill')
  /*fill: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); */
}
#instagramSVG:active {
  fill: url('#instaFill')
}

/* Facebook icon colors. */
#facebookSVG:hover,
#facebookURL:focus #facebookSVG {
  fill: #4267B2;
}
#facebookSVG:active {
  fill: #4267B2;
}

/* Discord icon colors. */
#discordSVG:hover,
#discordURL:focus #discordSVG {
    fill: #7288d9;
}
#discordSVG:active {
    fill: #657ac4;
}

/* CONFIGURAÇÕES*/
.settingsFieldTitle {
  font-size: 14px;
  font-family: 'Avenir Medium';
  color: rgba(255, 255, 255, 0.95);
}
.settingsFieldDesc {
  font-size: 12px;
  color: rgba(255, 255, 255, .95);
  margin-top: 5px;
}

#configBack{
  position: absolute;
  left: 20px;
  top: 20px;
  color: rgba(255, 0, 0, 0.611);
}
#buttonConfigBack{
  border: 0px;
  border-radius: 0px 3px 3px 0px;
  font-size: 20px;
  padding: 0px 5px;
  cursor: pointer;
  background: rgba(126, 126, 126, 0.57);
  transition: 0.25s ease;
  white-space: nowrap;
  outline: none;
}

/* Main settings container. */
#settingsContainer {
  position: absolute;
  height: 90%;
  width: 90%;
  display: flex;
  color: white;
  background-color: rgba(0, 0, 0, 0.754);
  left: 5%;
  right: 5%;
}

/* Drop shadow displayed when content is scrolled out of view. */
#settingsContainer:before {
  content: '';
  background: linear-gradient(rgba(0, 0, 0, 0.25), transparent);
  width: 100%;
  height: 5px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.25s ease;
}
#settingsContainer[scrolled]:before {
  opacity: 1;
}

/* Left hand side of the settings UI, for navigation. */
#settingsContainerLeft {
  padding-top: 4%;
  height: 100%;
  width: 25%;
  box-sizing: border-box;
}

/* Settings navigation container. */
#settingsNavContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Navigation header styles. */
#settingsNavHeader {
  height: 15%;
  display: flex;
  justify-content: center;
}
#settingsNavHeaderText {
  font-size: 20px;
}

/* Navigation items outer container. */
#settingsNavItemsContainer {
  height: 85%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

/* Navigation items content container. */
#settingsNavItemsContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Navigation item shared styles. */
.settingsNavItem {
  background: none;
  border: none;
  text-align: left;
  margin: 5px 0px;
  padding: 0px 20px;
  color: grey;
  cursor: pointer;
  outline: none;
  transition: 0.25s ease;
}
.settingsNavItem:hover,
.settingsNavItem:focus {
  color: #c1c1c1;
  text-shadow: 0px 0px 20px #c1c1c1;
}
.settingsNavItem[selected] {
  cursor: default;
  color: white;
  text-shadow: none;
}

/* Div to add some space between nav items. */
.settingsNavSpacer {
  height: 25px;
}

/* Right hand side of the settings container, for tabs. */
#settingsContainerRight {
  height: 100%;
  width: 75%;
  box-sizing: border-box;
}

/* Settings tab shared styles. */
.settingsTab {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.settingsTab::-webkit-scrollbar {
  width: 10px;
}
.settingsTab::-webkit-scrollbar-track {
  display: none;
}
.settingsTab::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.50);
}

/* Add spacing to the top of each settings tab. */
.settingsTab > *:first-child {
  margin-top: 5%;
}

/* Add spacing to the bottom of each settings tab. */
.settingsTab > *:last-child {
  margin-bottom: 20%;
}

/* Tab header shared styles. */
.settingsTabHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.settingsTabHeaderText {
  font-size: 20px;
  font-family: 'Avenir Medium';
}
.settingsTabHeaderDesc {
  font-size: 12px;
}

/* Remove spin button from number inputs. */
#settingsContainer input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Default styles for text/number inputs. */
#settingsContainer input[type=number],
#settingsContainer input[type=text] {
  color: white;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: 1px solid rgba(126, 126, 126, 0.57);
  font-family: 'Avenir Book';
  transition: 0.25s ease;
}
#settingsContainer input[type=number]:focus,
#settingsContainer input[type=text]:focus {
  outline: none;
  border-color: rgba(126, 126, 126, 0.87);
}
#settingsContainer input[type=number][error] {
  border-color: rgb(255, 27, 12);
  background: rgba(236, 0, 0, 0.25);
  color: rgb(255, 27, 12);
}

.applyPatchButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

/* File selectors */

/* Main container for File selectors. */
.settingsFileSelContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.50);
  margin-bottom: 20px;
  margin-top: 20px;
  width: 75%;
}

/* File selector title. */
.settingsFileSelTitle {
  margin-bottom: 10px;
}

/* Wrapper container for the actionable elements. */
.settingsFileSelActions {
  display: flex;
  width: 90%;
}

/* File selector icon settings. */
.settingsFileSelIcon {
  display: flex;
  align-items: center;
  background: rgba(126, 126, 126, 0.57);
  border-radius: 3px 0px 0px 3px;
  padding: 5px;
  transition: 0.25s ease;
}
.settingsFileSelSVG {
  width: 20px;
  height: 20px;
  fill: white;
}

/* Disabled text field which stores the selected file path. */
.settingsFileSelVal {
  border-radius: 0px !important;
  width: 100%;
  padding: 5px 10px;
  font-size: 12px;
  height: 30px;
}

/* Styles for a generic settings entry. */
.settingsFieldContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  width: 75%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.50);
}

/* File selection button. */
.settingsFileSelButton {
  border: 0px;
  border-radius: 0px 3px 3px 0px;
  font-size: 12px;
  padding: 0px 5px;
  cursor: pointer;
  background: rgba(126, 126, 126, 0.57);
  transition: 0.25s ease;
  white-space: nowrap;
  outline: none;
  color: white;
}
.settingsFileSelButton:hover,
.settingsFileSelButton:focus {
  text-shadow: 0px 0px 20px white;
}
.settingsFileSelButton:active {
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
}

/* Description for the file selector. */
.settingsFileSelDesc {
  font-size: 10px;
  margin: 20px 0px;
  color: lightgrey;
  width: 89%;
}
.settingsFileSelDesc strong {
  font-family: 'Avenir Medium';
}

#settingsAboutTitle {
  font-size: 23px;
}

/* Current version text. */
#settingsAboutCurrentVersionLine {
  font-size: 10px;
  color: grey;
  font-weight: bold;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

#project{
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  font-size: 10px;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}